# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=otboo
DB_USERNAME=otboo
DB_PASSWORD=otboo

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=CHANGE_ME_BASE64_ENCODED_256BIT_SECRET
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000


# KAKAO
KAKAO_REST_API_KEY=

#KMA
KMA_API_KEY=