# Spring
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

# PostgreSQL
DB_HOST=
DB_PORT=5432
DB_NAME=otboo
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

# WebSocket handshake를 허용할 프론트엔드 Origin 목록입니다.
# 실제 배포 시 운영 프론트엔드 도메인으로 변경하면됩니다.(여러개일시 콤마로 연결)
WEBSOCKET_ALLOWED_ORIGIN_PATTERNS=https://otboo.com,https://www.otboo.com,https://admin.otboo.com

# KAKAO
KAKAO_REST_API_KEY=

#KMA
KMA_API_KEY=
