# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=otboo
DB_USERNAME=otboo
DB_PASSWORD=otboo

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Elasticsearch
SEARCH_ENDPOINT=http://localhost:9200

# AWS / S3
AWS_REGION=ap-northeast-2
S3_BUCKET=CHANGE_ME_LOCAL_BUCKET
S3_PRESIGNED_URL_EXPIRATION_SECONDS=600
IMAGE_MAX_FILE_SIZE_BYTES=10485760

# 로컬에서 AWS SDK가 사용할 CLI Profile
# S3 등 AWS 연동 기능을 로컬에서 테스트할 때 사용
AWS_PROFILE=otboo

# JWT
JWT_SECRET=CHANGE_ME_BASE64_ENCODED_256BIT_SECRET
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000


# KAKAO
KAKAO_REST_API_KEY=

#KMA
KMA_API_KEY=